.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container{
    display: flex;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1556742044-3c52d6e88c62?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGZpbnRlY2h8ZW58MHx8MHx8&w=1000&q=80");
  }
  
  .form-container {
    width: 300px;
    height: 200px;
    background: rgba(100, 100, 100, 0.8);
    backdrop-filter: saturate(180%) blur(8px);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); 
    padding-bottom: 60px;
    padding-top: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
    animation: slide-in 0.5s ease-out;
    margin: 0 auto;
  }
  
  @media (max-width: 500px) {
    .form-container {
      padding: 20px;
    }
  }
  
  @keyframes slide-in {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .form-group {
    width:100%;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 60px;
    text-align: left;
  }
  
  label {
    font-size: 18px;
    display: block;
  }
  input{
    display: flex;
    justify-content: center;
  }
  
  input[type="email"] {
    border: none;
    width: 80%;
    border-bottom: 2px solid white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    color: white;
  }
  input:focus {
    outline: none !important;
    border-bottom: 2px solid black(88, 54, 166);
    font-size: 17px;
    font-weight: bold;
    color: white;
  }
  ::placeholder {
    color: white;
  }

  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
  }
  
  input[type="email"]:invalid + .error-message {
    display: block;
  }
  
  button[type="submit"] {
    cursor: pointer;
    padding: 7px;
    width: 150px;
    border-radius: 20px;
    background-color: rgb(88, 54, 166);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(88, 54, 166);
    color: white;
    font-weight: 600;
  }
  button:hover{

    background-color: rgba(252,252,252,0.9);
    color:rgb(88, 54, 166);
  }
 button:hover{
    
    border-bottom: 2px solid rgb(88, 54, 166);

  }
  